@use "../../../assets/scss/variables.scss" as *;
@use "../../../assets/scss/mixins.scss" as *;

.hub {
  display: flex;
  flex-direction: row;
  align-items: stretch;

  height: calc(100vh - 4rem);

  padding-right: 0;

  &__content {
    width: 68%;
    height: calc(100vh - 4rem);
    // overflow-y: auto;
    flex-grow: 2;

    // removed for scrollbar
    // padding: 1rem 0 1rem 0;
  }

  &__content-filters {
    min-height: 4.75rem;
  }

  & .dropdown {
    margin-top: 1rem;
  }

  &__content-wrapper {
    // height: calc(100vh - 8.75rem);
    height: calc(100vh - 8.75rem);
    padding: 1rem 0 0;
  }

  &__script-list {
    position: relative;

    list-style: none;
    margin: 0;

    // padding: 1rem 0;
    padding-left: 0;
  }

  &__load-button {
    color: $color-neutrals;

    margin: 0 auto 2rem;

    border-color: transparent;

    &:hover {
      background-color: $color-neutrals-faded;
    }

    &:disabled {
      @include disable-standard;

      background-color: transparent;
    }
  }
}
