@use "../../../assets/scss/variables" as *;

.mask {
  position: absolute;

  border: 1px solid $color-neutrals-dark;
  background-color: $color-background;
  border-radius: 0.125rem;
  z-index: $z-mask;
}
