@use '../../../assets/scss/variables.scss' as *;

.dropdown {
  display: inline-block;

  position: relative;

  color: $color-neutrals-light;

  width: 14.4375rem;
  height: 2.75rem;

  padding: 0.625rem 1.25rem;

  background-color: transparent;
  border: 0.0625rem solid $color-neutrals-light;
  border-radius: 0.25rem;
  cursor: pointer;

  &__arrow {
    position: absolute;
    top: 0.625rem;
    right: 1.25rem;

    pointer-events: none;
  }

  &__wrapper {
    position: absolute;
    z-index: 2;
    left: -0.0625rem;
    bottom: -9.25rem;

    width: 14.4375rem;
  }

  &__list {
    list-style: none;

    padding-left: 0;

    border: 0.0625rem solid $color-neutrals-light;
    border-radius: 0.25rem;
  }

  &__item {
    padding: 0.625rem 1.25rem;

    border-bottom: 0.0625rem solid $color-neutrals-light;
    background-color: $color-background;

    &--current {
      color: $color-neutrals;

      background-color: $color-neutrals-faded;
    }

    &:first-of-type {
      border-radius: 0.3125rem 0.3125rem 0 0;
    }

    &:last-of-type {
      border-bottom: 0;

      border-radius: 0 0 0.3125rem 0.3125rem;
    }
  }
}
