@use "../../../assets/scss/variables.scss" as *;

.tools {
  min-height: 12.25rem;

  &__buttons-list {
    display: flex;
    flex-direction: row;
    justify-content: stretch;

    list-style: none;

    margin: 0.5rem 0 0;
    padding: 0;
  }

  &__button-item {
    margin-right: 20px;
    flex-grow: 1;

    &:last-child {
      margin-right: 0;
    }
  }

  &__buttons-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    // width: 9.25rem;
    min-height: 10.5rem;
    width: 100%;

    background-color: $color-neutrals-faded;
    border-radius: 1rem;
  }

  &__navigation-button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 40px;
    height: 40px;

    padding: 0;

    border: 0;
    background-color: transparent;
    cursor: pointer;
  }

  &__navigation-count {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 0.875rem;
    font-weight: 400;
    color: $color-neutrals-light;

    margin: 0;

    & span:first-child {
      font-size: 1.25rem;
      font-weight: 700;
    }
  }

  &__button {
    font-family: inherit;
    color: $color-info-dark;

    min-height: 10.5rem;
    width: 100%;
    flex-grow: 1;

    border: 0;
    border-radius: 1rem;
    background-color: transparent;
    cursor: pointer;

    &:hover,
    &:active {
      background-color: $color-neutrals-faded;
    }

    &:disabled {
      opacity: 0.3;

      cursor: auto;

      &:hover,
      &:active {
        background-color: transparent;
      }
    }
  }

  &__button-title {
  }
}
