@use "../../assets/scss/variables.scss" as *;

.editor {
  &__panel {
    min-height: 16rem;

    padding: 1.25rem 0 0 1.25rem;
  }

  &__header-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    padding-right: 1.25rem;
  }

  &__arrow-button {
    width: 2.5rem;
    height: 2.5rem;

    margin-right: 0.625rem;
    padding: 0;

    &:hover,
    &:active {
      background-color: $color-primary-faded;
    }
  }

  &__header {
    color: $color-neutrals;
    font-size: 1.25rem;
    font-weight: 700;

    margin: 0;
  }

  &__save-button {
    width: 15.0625rem;

    margin-left: auto;
  }
}
