@use "../../../../assets/scss/variables.scss" as *;
@use "../../../../assets/scss/mixins.scss" as *;

.hub-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  min-height: 4rem;

  box-shadow: 0 0.125rem 1.25rem 0 $color-shadow;

  &__logo {
    color: $color-neutrals-lighter;
  }

  &__tab-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin: 0 auto;
    padding-right: 4.875rem;
  }

  &__tab {
    margin-right: 0.6875rem;
    padding-right: 1.25rem;

    border: 0.0625rem solid transparent;

    &:last-child {
      margin-right: 0;
    }

    &--active {
      border-color: $color-primary;
    }

    & svg {
      position: relative;
      top: -0.0625rem;
    }

    &:disabled {
      @include disable-standard;

      color: $color-primary;

      background-color: transparent;
    }
  }

  &__profile-link {
    display: block;

    width: 2.875rem;
    height: 2.875rem;

    &:hover + .hub-header__dropdown,
    &:focus + .hub-header__dropdown {
      display: block;
    }
  }

  &__profile-plug {
    width: 100%;
    height: 100%;

    border-radius: 50%;
    background-color: $color-neutrals-lighter;
  }

  &__profile-link img {
    border-radius: 50%;
    object-fit: cover;
  }

  &__dropdown {
    display: none;
    position: absolute;
    top: 62px;
    right: 20px;

    width: auto;
    min-width: 11.25rem;
    min-height: 4.875rem;

    z-index: $z-bg;

    &:hover,
    &:focus-within {
      display: block;
    }

    &::before,
    &::after {
      content: "";

      position: absolute;
      left: 0;
      top: -0.5rem;

      height: 0.5rem;
      width: 100%;
      background-color: transparent;
    }

    &::after {
      top: auto;
      height: 1.5rem;
      bottom: -1.5rem;
    }
  }

  &__dropdown-list {
    list-style: none;

    margin: 0;
    padding-left: 0;

    border: 0.0625rem solid $color-neutrals-light;
    border-radius: 0.25rem;
  }

  &__dropdown-item {
    width: 100%;
    min-height: 2.4375rem;

    border-bottom: 0.0625rem solid $color-neutrals-light;
    background-color: $color-background;

    &:first-of-type {
      border-radius: 0.3125rem 0.3125rem 0 0;
    }

    &:last-of-type {
      border-bottom: 0;

      border-radius: 0 0 0.3125rem 0.3125rem;
    }
  }

  &__dropdown-link {
    display: block;

    text-align: right;
    font-family: inherit;
    font-size: inherit;
    color: $color-neutrals-light;

    width: 100%;
    height: 100%;

    padding: 0.625rem 1rem;

    border: 0;
    background-color: transparent;

    cursor: pointer;

    &:disabled {
      color: $color-neutrals-lighter;

      cursor: default;
    }
  }
}
