@use '../../../assets/scss/variables.scss' as *;

.hub-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  min-height: 4rem;

  box-shadow: 0 0.125rem 1.25rem 0 $color-shadow;

  &__logo {
    content: "";
  }

  &__tab-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin: 0 auto;
    padding-right: 4.875rem;
  }

  &__tab {
    display: flex;
    flex-direction: row;
    align-items: center;

    color: $color-primary;

    margin-right: 0.6875rem;
    padding-right: 1.25rem;

    border-width: 0.0625rem;
    border-color: transparent;

    &:hover,
    &:focus {
      color: $color-primary-dark;
      background-color: $color-primary-faded;
    }

    &:last-of-type {
      margin-right: 0;
    }

    &--active {
      border-color: $color-primary;
    }

    & svg {
      position: relative;
      top: -0.0625rem;
      margin-right: 0.625rem;
    }
  }

  &__profile-link {
    display: block;

    width: 2.875rem;
    height: 2.875rem;

    background-color: $color-neutrals-lighter;
    border-radius: 50%;
  }

  &__profile-link img {
    object-fit: cover;
  }
}
