@use "../../../../assets/scss/variables.scss" as *;

.panel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;

  min-height: 4.625rem;

  padding: 0 1.125rem;

  background-color: $color-background;

  &__left-side,
  &__center,
  &__right-side {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__logo {
    color: $color-neutrals-lighter;

    margin-left: 1.125rem;
    margin-bottom: 0.625rem;
  }

  &__center .panel__button {
    margin: 0 0.3125rem;
  }

  &__button {
    color: $color-info;

    padding: 0.5rem;

    &:hover {
      background-color: $color-info-faded;
    }

    &:disabled {
      &:hover {
        color: $color-info;
      }
    }
  }
}
