@use "../../../assets/scss/variables.scss" as *;

.modal-close {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;

  width: 23rem;
  min-height: 24.375rem;

  padding: 2rem 4rem;

  background-color: $color-background;
  border-radius: 1rem;
  box-shadow: 0 0.125rem 1.125rem $color-shadow;

  &__icon-wrapper {
    color: $color-danger;
  }

  &__header {
    font-size: 1.25rem;
    font-weight: 700;
    color: $color-neutrals-dark;
    text-align: center;
  }

  &__warning-message {
    color: $color-neutrals-dark;
    text-align: center;
  }

  &__button-close {
    color: $color-background;

    width: 100%;

    margin-bottom: 0.5rem;

    background-color: $color-danger;
    border-color: $color-danger;

    &:hover {
      background-color: $color-danger-dark;
      border-color: $color-danger-dark;
    }
  }

  &__button-cancel {
    color: $color-neutrals-light;

    width: 100%;

    border-width: 0.125rem;
    border-color: $color-neutrals-light;

    &:hover {
      color: $color-neutrals;
      border-color: $color-neutrals;
    }
  }
}
