@use "../../../../assets/scss/variables" as *;

.mask {
  &__delete-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    color: $color-neutrals;

    position: absolute;

    width: 1.75rem;
    height: 1.75rem;

    padding: 0.125rem;

    border-radius: 50%;
    border: none;
    z-index: $z-delete-mask;
    cursor: pointer;
  }
}
