@use "../../../../assets/scss/mixins.scss" as *;
@use "../../../../assets/scss/variables.scss" as *;

.hub-info {
  /* max-width: 614px; */
  min-width: 19.6875rem;
  /* flex-grow: 1; */
  width: 31%;

  padding: 1rem 1.25rem 1rem 0;

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

    height: 100%;

    border: 0.0625rem solid $color-neutrals-faded;
    border-radius: 0.5rem;

    @include shadow;
  }

  &__preview-wrapper {
    height: 12.125rem;

    border-radius: 0.5rem 0.5rem 0 0;
    background-color: $color-neutrals-light;
  }

  &__content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    flex-grow: 1;

    padding: 1rem;
  }

  &__title {
    font-weight: 700;
    font-size: 1.25rem;
    font-family: inherit;
    color: $color-neutrals-dark;

    width: 100%;

    margin-top: 0.0625rem;
    margin-bottom: 0;
    padding: 0;

    border: 0;
  }

  &__quality-list {
    width: 100%;
  }

  &__quality-name {
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: $color-neutrals-lighter;

    margin-bottom: 0.1875rem;
  }

  &__description {
    line-height: 1.125rem;

    width: 100%;

    margin-bottom: 1.125rem;
    margin-left: 0;

    & input {
      font-family: inherit;
      font-size: inherit;
      line-height: inherit;
      color: inherit;

      width: 100%;

      margin: 0;
      padding: 0;

      border: 0;
    }
  }

  &__origin-date {
    margin-left: 0;
  }

  &__button-wrapper {
    display: block;

    width: 100%;

    margin-top: auto;
  }

  &__small-button-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
  }

  &__button {
    color: $color-background;

    width: 100%;

    margin-top: 0.5rem;
    padding: 0.5rem 1.25rem;

    border-width: 0.125rem;
    border-color: $color-secondary;
    background-color: $color-secondary;

    &:hover {
      border-color: $color-secondary-dark;
      background-color: $color-secondary-dark;
    }

    &--outline {
      color: $color-secondary;

      background-color: transparent;

      &:hover {
        color: $color-secondary-dark;

        background-color: transparent;
      }
    }

    &:disabled {
      cursor: auto;

      opacity: 0.3;
    }
  }

  &__stats {
    width: auto;

    margin-left: 0.5rem;
    padding: 0.5rem 0.625rem 0.2rem;
  }

  &__author-button {
    width: 100%;
  }
}
