@use "../../../assets/scss/mixins.scss" as *;
@use "../../../assets/scss/variables.scss" as *;

.viewbox {
  width: 100wv;
  height: calc(100vh - 4.625rem);

  padding: 1.125rem;

  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    width: fit-content;
    height: 100%;

    margin: 0 auto;
  }

  &__image {
    max-height: 100%;
    max-width: 100%;

    border-radius: 0.5rem;
    @include shadow;
  }

  &__action {
    position: absolute;

    z-index: $z-action;
  }

  &__action-button {
    display: block;

    width: 100%;
    height: 100%;

    padding: 0;

    border: 0.25rem solid $color-secondary;
    border-radius: 0.25rem;
    background-color: fade-out($color-secondary, 0.9);
    cursor: pointer;

    &:focus {
      outline: none;
    }
  }

  &__action-type {
    color: $color-background;

    position: absolute;
    right: -3.3125rem;
    top: 0;

    width: 3.125rem;
    height: 3.125rem;

    padding: 0.25rem;

    background-color: $color-secondary;
    border-radius: 0.25rem;
    border: 0;

    &--clickable {
      cursor: pointer;
    }
  }

  &__action--left .viewbox__action-type {
    right: auto;
    left: -3.3125rem;
  }

  &__mask {
    position: absolute;
    top: 500px;
    left: 1000px;

    width: 115px;
    height: 54px;

    background-color: $color-background;
    border-radius: 0.125rem;
    z-index: $z-mask;
  }

  &__mask-remove {
    position: absolute;
    top: -0.75rem;
    right: -0.75rem;

    color: $color-neutrals;

    padding: 0.125rem;

    background-color: $color-neutrals-faded;
    border-radius: 50%;
    border: 0;
  }

  &--editor {
    height: calc(100vh - 16rem);
  }
}
