@use '../../../assets/scss/mixins.scss' as *;

.viewbox {
  width: 100wv;
  height: calc(100vh - 4.625rem);

  padding: 1.125rem;

  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
  }

  &__image {
    @include shadow;
    border-radius: 0.5rem;
  }

  &--editor {
    height: calc(100vh - 16rem);
  }
}
