.progress-bar {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 4px;
  background-color: transparent;

  &__progress {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    background-color: #0084d9;
  }
}
